.main {
  display: flex;
  align-items: flex-start; 
}

.leftPanel {
  padding-left: 20px;
  padding-top: 20px;
  width: 20vw;
  height: 100vh;
}
.rightPanel {
  width: 80vw;
  height: 100vh;
  background: rgb(231, 255, 253);
}

.startBlock {
  position: fixed;
  margin-bottom: 20px;
  width: 100px;
  padding: 10px;
  background: lightpink;
  border-radius: 15px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.moveBlock {
  position: fixed;
  width: 200px;
  padding: 10px;
  background: lightpink;
  border-radius: 15px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}